{% extends "importar_actualizacion/base-v2.html" %}
{% block content %}
    <p class="funcionamiento">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus cupiditate iste esse eveniet quasi tempora, nemo illo, ipsum quam distinctio aperiam id fuga facilis? Fugiat rerum beatae voluptates facere magnam.</p>
    <div class="container d-flex justify-content-center align-items-center">
        <button class="custom-button" onclick="window.location.href='{% url "importar-actualizacion" %}'">Importar actualizaciones</button>
    </div>
{% endblock %}