{% extends "importar_actualizacion/base-v2.html" %}
{% block content %}
<div class="flex-container" style="max-width: 80%; margin: auto">
    <div class="flex container">
        <h4 class="h4" style="color: white">vinos actualizados</h4>
            {% for vino in actualizados %}
                <ul class="list-group" style="margin: 1rem">
                    <li class="list-group-item">{{ vino.nombre }}</li>
                    <li class="list-group-item">{{ vino.precio_ars }}</li>
                    <li class="list-group-item">{{ vino.nota_cata_bodega }}</li>
                    <li class="list-group-item">{{ vino.maridaje.nombre }}</li>
                </ul>
            {% endfor %}
    </div>
    <div class="flex container">
        <h4 class="h4" style="color: white">vinos creados</h4>
        {% for vino in creados %}
            <ul class="list-group" style="margin: 1rem">
                <li class="list-group-item">{{ vino.nombre }}</li>
                <li class="list-group-item">{{ vino.precio_ars }}</li>
                <li class="list-group-item">{{ vino.nota_cata_bodega }}</li>
                <li class="list-group-item">{{ vino.maridaje.nombre }}</li>
            </ul>
        {% endfor %}
    </div>
</div>
{% endblock %}
